* {
margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;
}

img {
  object-fit: cover;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
}











